<!DOCTYPE html>
<html ng-app="alarmApp" ng-controller="{% block controller %}{% endblock controller %}">
<head>
    {% block head %}
    <title>Alarm Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/lib/jquery/dist/jquery.min.js"></script>
    <script src="../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/lib/angular/angular.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/controllers.js"></script>
    {% endblock head %}
</head>

<body>
    {% block body %}
    {% endblock body %}
</body>
</html>
